@import "../../style/base.scss";

.widget-type-value {
    .widget-body {
        text-align: center;
    }
    .main {
        font-size: 4em;
        padding: 0;
        line-height: 1;
    }
    .main.no-sub {
        font-size: 6em;
    }
    .sub {
        font-size: 2em;
        padding: 0;
        margin: 0;
        line-height: 2;
    }
    .sub-up {
        color: green;
    }
    .sub-down {
        color: red;
    }
    span.glyphicon {
        font-size: smaller;
    }
}
