//All our common variables and definitions go in here.
// document, document, document!
$backgroundColor: #eeeeee;

//Panel grid size and spacing
$cellWidth: 155px;
$cellHeight: 155px;
$cellGutter: 10px;

//each widget is then padded and had a fixed size header
$widgetPadding: 8px;
$widgetHeaderSize: 40px;

//how big can panels get?
$maxUnitsWide: 12;
$maxUnitsTall: 12;
$maxDashboardSize: 100;
