.loading {
    width: 100px;
    height: 100px;
    position:relative;
    margin: 30px auto;
}
.loading-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 0.3em solid #666;
    border-radius: 50%;
}

.loading-content {
    text-align: center;
}

.loading-circle-horizontal {
    animation: loading-spin-h 4s linear infinite, loading-pulse 1s linear infinite alternate;
}

.loading-circle-vertical {
    transform: rotate(90deg);
    animation: loading-spin-v 4s linear infinite, loading-pulse 1s linear infinite alternate;
}

@keyframes loading-spin-v {
  100% { transform: rotate(450deg); }
}
@keyframes loading-spin-h{
  100%{ transform: rotate(360deg)}
}
@keyframes loading-pulse{
    0% {
        width:5%;
        height:100%
    }
    100% {
        width:50%;
        height:5%;
    }
    0% {
        width:5%;
        height:100%;
    }
}
