// Panel specific styling
@import "../style/base";

.widget {
    position: absolute;
    width: $cellWidth;
    height: $cellHeight;
    overflow: hidden;
    top: 0;
    left: 0;
}
.panel {
    padding: 0;
}
.widget-body {
    padding: 0;
    margin: $widgetPadding;
    position: relative;
}

@for $i from 1 through 20 {
  .widget-x-#{$i} { left: ($cellWidth + $cellGutter) * $i; }
  .widget-y-#{$i} { top: ($cellHeight + $cellGutter) * $i; }
}

@for $i from 1 through 20 {
    $width: ($cellWidth + $cellGutter) * $i - $cellGutter;
    $height: ($cellHeight + $cellGutter) * $i - $cellGutter;
    .widget-w-#{$i} {
        width: $width;
        .widget-body {
            width: $width - $widgetPadding * 2;
        }
    }
    .widget-h-#{$i} {
        height: $height;
        .widget-body {
            height: $height - $widgetPadding * 2 - $widgetHeaderSize;
        }
    }

}

.widget-body .error {
    text-align: center;
}

.widget-heading {
    text-transform: uppercase;
    height: $widgetHeaderSize;
}

.widget-loading {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.widget-refresh {
    display: block;
    position: absolute;
    top: 10px;
    right: 8px;
    text-align: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    border-radius: 50%;
    opacity: 0.2;
    .glyphicon {
        top: 0px;
        width: 24px;
        height:24px;
        font-size: 14px;
        line-height: 24px;
    }
}

.widget:hover .widget-refresh,
.widget-rotate {
    opacity: 1;
}

.widget-rotate {
    animation: widget-spin 2s linear infinite;
}

@-moz-keyframes widget-spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes widget-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes widget-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
