//This is the panels box. simply position it correctly and make it massive
@import "../style/base";

.panel-container {
    margin-top:70px;
    left: $cellGutter / 2;
    width: ($cellWidth + $cellGutter) * 7;
    height: ($cellHeight + $cellGutter) * 7;
    position: relative;
}
