//This is the panels box. simply position it correctly and make it massive
@import "../style/base";


//the size of this is worked out in java script
.widget-container {
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
