/* washboard.css */
#error {
  display:none;
}
#error.visible {
  display:block;
}
#panels {
  margin-top:60px;
  width: 2550px;
  height: 2550px;
  position:relative;
}

.panel {
  position:absolute;
  width: 310px;
  height:310px;
  overflow:hidden;
  top: 0;
  left:0;
}
.panel-body {
  padding: 0;
  position: relative;
}

.panel-y-1 { top: 320px; }
.panel-y-2 { top: 640px; }
.panel-y-3 { top: 960px; }
.panel-y-4 { top: 1280px; }
.panel-y-5 { top: 1600px; }
.panel-y-6 { top: 1920px; }
.panel-y-7 { top: 2240px; }

.panel-x-1 { left: 320px; }
.panel-x-2 { left: 640px; }
.panel-x-3 { left: 960px; }
.panel-x-4 { left: 1280px; }
.panel-x-5 { left: 1600px; }
.panel-x-6 { left: 1920px; }
.panel-x-7 { left: 2240px; }

.panel-h-2 { height: 630px; }
.panel-h-3 { height: 950px; }
.panel-h-4 { height: 1270px; }

.panel-w-2 { width: 630px; }
.panel-w-3 { width: 950px; }
.panel-w-4 { width: 1270px; }

.panel-body .error {
  text-align:center;
}

.panel-loading {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.refresh {
  position: absolute;
  top: 10px;
  right: 8px;
  cursor:pointer;
}

.rotate {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.value .main {
  text-align:center;
  font-size: 6em;
  padding: 30px 0;
}
.value .sub {
  text-align:center;
  font-size: 2em;
}
.value .sub-up {
  color: green;
}
.value .sub-down {
  color: red;
}
.value .sub-up .sub::before {
  content: "▲ ";
}
.value .sub-down .sub::before {
  content: "▼ ";
}

.funnel-table {
  width: 90%;
  margin:5px auto;
  background: transparent;
}
.funnel-chart {
  width:40%;
  position:relative;
}
.funnel-bar {
  height:24px;
  float:right;
}
.funnel-value {
  line-height:24px;
  font-size: 12px;
  color: white;
  position:absolute;
  right:2px;
  top:2px;

}
.funnel-label {
  padding-left: 4px;
  font-size: 18px;
  line-height:24px;
}
.funnel-label small {
  color: white;
  font-size: 12px;
  line-height:24px;
}

.highchart iframe {
  position: relative;
  width:100%;
  height: 250px;
}
.panel-h-2.highchart iframe { height: 570px; }
.panel-h-3.highchart iframe { height: 890px; }
.panel-h-4.highchart iframe { height: 1210px; }

.panel-h-2 .funnel-label { font-size: 28px; line-height: 48px;}
.panel-h-2 .funnel-label small,
.panel-h-2 .funnel-value { font-size: 16px; line-height: 48px;}
.panel-h-2 .funnel-bar { height:48px; }

.gauge-wrap {
  position: relative;
}
.gauge-label {
  text-align:center;
  font-size: 6em;
  position:absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
}
.panel-h-2 .gauge-label { font-size: 10em; }
.panel-h-3 .gauge-label { font-size: 12em; }
.panel-h-4 .gauge-label { font-size: 16em; }

.gauge-max, .gauge-min {
  position:absolute;
  top: 50%;
  text-align:center;
}
.gauge-min { left: 5px; }
.gauge-max { right: 5px; }
.gauge-mm-label {
  display: block;
}
.gauge-mm-value {
  color: #fff;
}

.widget-canvas { height: 250px; width: 290px; position: relative; left: 5px; top: 5px; }
.panel-h-2 .widget-canvas { height: 570px; }
.panel-h-3 .widget-canvas { height: 890px; }
.panel-h-4 .widget-canvas { height: 1210px; }
.panel-w-2 .widget-canvas { width: 610px; }
.panel-w-3 .widget-canvas { width: 930px; }
.panel-w-4 .widget-canvas { width: 1250px; }
/*
.gauge-low {
  color: red;
}
.gauge-high {
  color: green;
}
*/